html {
    font-family: 'ProximaNova';


    

}
.header{
    display:flex;
    /* width: 100%; */
    height: 40px;
    flex-direction: row;
    border-bottom: 1px solid #ededed;
    align-items: center;
    justify-content: space-between;
    
    

    
    
}
.header:first-child{
    /* padding-left: 105px; */
    
}
.header:nth-child(2){
    /* padding-left: 30px; */
}
a { 
    text-decoration: none; 
   } 

.header__link{
    color: black;
    font-family: 'ProximaNova';
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    /* padding-left: 30px; */
    text-decoration: none;
    padding-top: 2px;
    padding-right: 20px;




}
.header__icon{
    /* padding-right: 10px; */
}
.header--links{

}
.social{
    /* padding-left: 700px; */
}
.social__icon{
    color: gray;
    transition: .5s;
    /* padding: 5px; */
    padding-right: 5px;

}
.social__icon:hover{
text-decoration: none;
}
.header__link{
    font-size: 12px;
}

.nav{
    width: 100%;
    height: 120px;
    align-items: center;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 0 auto; */
    
   
  

}
.col{
    display: flex;
}

 .nav__items{
     height: 100%;
    display:flex;
    
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    font-family: 'ProximaNova';
    font-weight: 300;
    align-items: center;
    margin: 0;
    padding-top: 5px;
    /* padding-left: 200px; */
    justify-content: space-between;
    
    
}
.nav__items a{
    padding-left: 55px;
    color: black;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    
}
.header__contacts{
    /* padding: 30px; */
}
.nav__logo{
    align-items: center;
    align-content: center;
    /* padding-left: 151px; */
    width: 200px;
    margin: 0;
    display: flex;
    
}  
.image{
    margin: 0;
    overflow:hidden;
}
.icon-block{
    
    height: 340px;
    align-content: center;
    
    
}

.icon-block__svg{
    max-width: 65px;  
    /* position: relative; */
    /* left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); */
    position: relative;
    top: 25%;
    
    
}
.icon--wrapper{
    border: 1px solid #1275b9;
    border-radius: 50%;
    height: 65px;
    width:65px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    
    
}
.icon-block__article h3{
    font-family: 'ProximaNova';
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 10px;
    
}
.icon-block__article{
    text-align: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

}
.icon-block__article p{
    color: #9d9d9d;
    font-size: 14px;
}
.bg-blue{
    background: #1275b9; 
}
.svg--settings{
 top: 28%;
}
.tabs-block{
    height: 580px;
    background-image: url(../src/psd/Velox-assets/One.png);
    background-position: bottom;
    text-align: center;

}
.tabs-block h2{
    font-size: 24px;
    font-family: 'ProximaNova';
    font-weight: 400;

}
.tabs-block p{
    font-family: 'ProximaNova';
    color: gray;
    font-size: 14px;
    font-weight: 300;
    
}
.text-block{
    padding-top: 60px;
}