.footer#contact
    .container
        .row
            .col-lg-3
                .footer__column
                    img.footer__logo(src="../src/psd/Velox-assets/velox-footer.png", alt="")
                    p.column__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque deserunt velit laudantium, quae quas maxime! Enim ex quis et. Ut dolorem debitis at quis vero sint fugiat aut recusandae necessitatibus!
            .col-lg-3
                .footer__column
                    h2.footer__heading Popular Posts
                    .post__item
                        p.post__heading Lorem ipsum dolor sit amet. 
                        p.post__date JULY 30, 2014
                    .post__item
                        p.post__heading Lorem ipsum dolor sit amet. 
                        p.post__date JULY 30, 2014
                    .post__item
                        p.post__heading Lorem ipsum dolor sit amet. 
                        p.post__date JULY 30, 2014
            .col-lg-3
                .footer__column
                    h2.footer__heading Twitter Feeds
                    .twitter__post
                        i.fab.fa-twitter.twitter__logo
                        p.twitter__text <span>@Shravan</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, doloremque?
                    p.twitter__date 1 minute ago
                    .twitter__post
                        i.fab.fa-twitter.twitter__logo
                        p.twitter__text <span>@Shravan</span> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, doloremque?
                    p.twitter__date 1 minute ago
            .col-lg-3
                .footer__column
                    h2.footer__heading Contact Us
                    .footer__contacts
                        .contacts__item
                            i.fas.fa-map-marker-alt.contacts__logo
                            p.contacts__text 92 Albacore Crescent Breadalbane NSW 2581     
                        .contacts__item
                            i.fas.fa-mobile.contacts__logo
                            a.contacts__text(href="tel:+380508687899") 
                                p +380508687899
                        .contacts__item
                            i.far.fa-envelope.contacts__logo
                            a.contacts__text(href="mailto:emailme@velox.com")
                                p emailme@velox.com
.copyright
    .container
        .row
            .col.d-flex.justify-content-between
                p Copyright 2014 - Velox. All Right Reserved
                a(href="#top")
                   p Back To Top ^

