.header#top
	.container
		.row
			.col.d-flex.justify-content-between
				.header__contacts
					.contacts__item
							i.fas.fa-mobile.contacts__logo
							a.contacts__text(href="tel:+380508687899") 
								p +380508687899
					.contacts__item
						i.far.fa-envelope.contacts__logo
						a.contacts__text(href="mailto:emailme@velox.com")
							p emailme@velox.com		
				.social
					a(href='http://facebook.com')
						i.fab.fa-facebook-f.social__icon
					a(href='http://twitter.com')
						i.fab.fa-twitter.social__icon
					a(href='http://google.com')
						i.fab.fa-google-plus-g.social__icon
