.header
  .header__contacts
    a.header__link(href='mailto:emailme@velox.com')
      i.far.fa-envelope.header__icon
      | 				emailme@velox.com
    a.header__link(href='tel:+380508687899')
      i.fas.fa-mobile-alt.header__icon
      | 				+380508687899
  .social
    a(href='http://facebook.com')
      i.fab.fa-facebook-f.social__icon
    a(href='http://twitter.com')
      i.fab.fa-twitter.social__icon
    a(href='http://google.com')
      i.fab.fa-google-plus-g.social__icon
