.image
	img(src='./img/Layer-58.png', alt='')
.icon-block
	.container
		.row
			.col-3.offset-md-1
				.icon-block__article
					.icon--wrapper
						img.icon-block__svg(src='../src/psd/Velox-assets/Tablet.svg', alt='')
					h3 RESPONSIVE DESIGN
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quisquam saepe nemo unde corrupti reprehenderit?
				
			.col-3.offset-md-1
				.icon-block__article
					.icon--wrapper.bg-blue
						img.icon-block__svg(src='../src/psd/Velox-assets/Dashboard.svg', alt='')
					h3 EASY CUSTOMIZE
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quisquam saepe nemo unde corrupti reprehenderit?| 
			.col-3.offset-md-1
				.icon-block__article
					.icon--wrapper.bg-blue
						img.icon-block__svg.svg--settings(src='../src/psd/Velox-assets/Settings1.svg', alt='')
					h3 FAST AND RELIABLE
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quisquam saepe nemo unde corrupti reprehenderit?
						 
