.latest
    .container
        .latest__header
         h2 Latest from Blog
         p Tutorials, features, new release and more
        .row
            .col-lg-4
                .latest__item
                    .squareangle
                        h1 “
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iste nisi aliquam excepturi rerum sequi!
                    .latest__text    
                        h2 QUOTE POST TITLE
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem porro voluptatem repellendus odit ullam facere ipsa est quaerat voluptatibus sint.
                        //- input.latest__button(type="button", value="Read More")
            .col-lg-4
                .latest__item
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                img(src="./img/Layer-51.png", alt="")
                            .swiper-slide
                                img(src="./img/Layer-49.png", alt="")
                            .swiper-slide
                               img(src="./img/Layer-52.png", alt="")
                        .swiper-button-prev
                        .swiper-button-next