.nav
	.container
		.row
			.col
				.nav__logo
					a(href='javascript:void(0)')
						img(src='./img/velox.png', alt='')
				ul.nav__items
					li
						a(href='javascript:void(0)') HOME
					li
						a(href='#features') FEATURES
					li
						a(href='#pages') PAGES
					li
						a(href='javascript:void(0)') ABOUT
					li
						a(href='#portfolio') PORTFOLIO
					li
						a(href='#blog') BLOG
					li
						a(href='#contact') CONTACT
					li
						a(href='javascript:void(0)')
							i.fas.fa-shopping-cart.nav__icon
					li
						a(href='javascript:void(0)')
							i.fas.fa-search.nav__icon
