.nav
	.nav__logo
		a(href='javascript:void(0)')
			img(src='./img/velox.png', alt='')
	ul.nav__items
		li
		li
			a(href='javascript:void(0)') HOME
		li
			a(href='javascript:void(0)') FEATURES
		li
			a(href='javascript:void(0)') PAGES
		li
			a(href='javascript:void(0)') ABOUT
		li
			a(href='javascript:void(0)') PORTFOLIO
		li
			a(href='javascript:void(0)') BLOG
		li
			a(href='javascript:void(0)') CONTACT
		li
			a(href='javascript:void(0)')
				i.fas.fa-shopping-cart.nav__icon
		li
			a(href='javascript:void(0)')
				i.fas.fa-search.nav__icon
