.portfolio#portfolio
    .container
        .portfolio__header
        
            h2 Portfolio
            p Check out some of our latest work
        .row
            .col-lg-4.col-xs-12
                .portfolio__item
                    img(src="./img/Layer-51.png", alt="")
                    h3 HORSE
                    p ILLUSTRATION 
            .col-lg-4.col-xs-12
                .portfolio__item 
                    img(src="./img/Layer-49.png", alt="")
                    h3 COCORILLO
                    p PRINT DESIGN

            .col-lg-4.col-xs-12
                .portfolio__item
                    img(src="./img/Layer-50.png", alt="")
                    h3 Network Like a Pro
                    p WEB DESIGN
        .row        
            .col-lg-4.col-xs-12
                .portfolio__item
                    img(src="./img/Layer-52.png", alt="")
                    h3 COVER
                    p PRINT DESIGN 
            .col-lg-4.col-xs-12
                .portfolio__item 
                    img(src="./img/Layer-53.png", alt="")
                    h3 SETH NICKERSON
                    p PRINT DESIGN 

            .col-lg-4.col-xs-12
                .portfolio__item
                    img(src="./img/Layer-54.png", alt="")
                    h3 CREATE ONE
                    p WEB DESIGN 
    
