.portfolio
    .container
        .portfolio__header
        
            h2 Portfolio
            p Check out some of our latest work
        .row
            .col-3
                .portfolio__item
                    img(src="./img/Layer-51.png", alt="")
                    h3 HORSE
                    p Illustration 
            .col-3
                .portfolio__item 
                    img(src="./img/Layer-51.png", alt="")
                    h3 HORSE
                    p Illustration 

            .col-3
                .portfolio__item
                    img(src="./img/Layer-51.png", alt="")
                    h3 HORSE
                    p Illustration 
        .row
            .dgdg
                .col-3
                    .portfolio__item
                        img(src="./img/Layer-51.png", alt="")
                        h3 HORSE
                        p Illustration 
                .col-3
                    .portfolio__item 
                        img(src="./img/Layer-51.png", alt="")
                        h3 HORSE
                        p Illustration 

                .col-3
                    .portfolio__item
                        img(src="./img/Layer-51.png", alt="")
                        h3 HORSE
                        p Illustration 
        
