.sponsors
    .container
        .row
            .sponsors__items   
                a.sponsor__logo(href="javascript:void(0)")
                    img(src="./img/tak.png", alt="")    
                a.sponsor__logo(href="javascript:void(0)")
                    img(src="./img/databerry.png", alt="")    
                a.sponsor__logo(href="javascript:void(0)")
                    img(src="./img/orange.png", alt="")    
                a.sponsor__logo(href="javascript:void(0)")
                    img(src="./img/ata.png", alt="")    
.buy-now
    .container
        .row
            .buy-now__wrapper
                .buy-now__text
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat laudantium libero nam necessitatibus sit provident! 
                input.buy-now__button(type="button", value="Buy Now")