.tabs-block
	.container
		.text-block
			h2 Why Choose Us
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quae quod laboriosam maxime consectetur asperiores impedit hic quo fuga rem porro, officia delectus deleniti voluptates velit laborum optio vel nulla!
			
